@page "/counter"

<h1>Counter</h1>

<p role="status"></p>
@if (quantity != null)
{
    <p role="status">@quantity.ToString();</p>
    <p role="status">@mass1.ToString();</p>
    
}

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;
    private Quantity quantity = new Quantity(1, UnitMass.kg);
    private Mass mass1 = new Mass(1, UnitMass.kg);


    private void IncrementCount()
    {  
        mass1.Quantity.ConvertTo(UnitMass.g); 
    }
    protected override async Task OnInitializedAsync()
    {   
    }
}
